:root
{
    --uncblue: rgb(1,45,91);
    --uncgold: rgb(254,189,54);
    --uncgray: rgb(235,235,235);
}
body
{
    background-color: var(--uncblue);
    color: var(--uncgold);
}
a
{
    color: var(--uncgold);
}
#leftbar
{
    background-color: var(--uncgray);
}